---
import BlogPreview from '../components/BlogPreview.astro';
import Carousel from '../components/Carousel.astro';
import Contact from '../components/Contact.astro';
import CookieConsent from '../components/CookieConsent.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Partners from '../components/Partners.astro';
import Products from '../components/Products.astro';
import Layout from '../layouts/Layout.astro';
// Pokud používáte content collections, je potřeba přidat konfiguraci
import { getCollection } from 'astro:content';

// Získání blogových příspěvků pro BlogPreview
const allPosts = await getCollection('blog');

const carouselSlides = [
  {
    src: "/images/banner1.jpg",
    alt: "První obrázek",
    html: `
      <div class="carousel-text-container">
        <div style="line-height: 0.9;">
          <h2 class="carousel-heading">Hubněte</h2>
          <h2 class="carousel-heading">moderně!</h2>
        </div>
        
        <hr class="carousel-hr">
        <h2 class="carousel-subheading">gastro balonky</h2>
      </div>
    `
  },
  {
    src: "/images/banner1.jpg",
    alt: "Druhý obrázek",
    html: `
      <div class="carousel-text-container">
        <div style="line-height: 0.9;">
          <h2 class="carousel-heading">Hubněte</h2>
          <h2 class="carousel-heading">moderně!</h2>
        </div>
        
        <hr class="carousel-hr">
        <h2 class="carousel-subheading">gastro balonky</h2>
      </div>
    `
  },
  {
    src: "/images/banner1.jpg",
    alt: "Třetí obrázek",
    html: `
      <div class="carousel-text-container">
        <div style="line-height: 0.9;">
          <h2 class="carousel-heading">Hubněte</h2>
          <h2 class="carousel-heading">moderně!</h2>
        </div>
        
        <hr class="carousel-hr">
        <h2 class="carousel-subheading">gastro balonky</h2>
      </div>
    `
  }
];
---

<Layout title="Superior Medical - Špičkové zdravotnické pomůcky">
  <Header />
  <main>
    <CookieConsent />
    <Carousel slides={carouselSlides} id="main-carousel"/>
    <Hero />
    <Products />
    <BlogPreview posts={allPosts} />
    <Partners />
    <Contact />
  </main>
  <Footer />
</Layout>

