---
---
<div class="w-full max-w-xl mx-auto mb-8 text-[#173358]">
    <div>
      <input
        type="text"
        id="search"
        placeholder="Hledat v článcích..."
        class="w-full px-4 py-2 border rounded-lg border-[#173358]"
      />
    </div>
  </div>
  